.input_filtrar {
  display: flex;
  align-items: center;
  gap: 5px;
}

#input_filtrar {
  width: 12rem;
  padding: 0.33rem;
  border: 0.15rem solid #020202;
  border-radius: 0.5rem;
}

.botoes_topo {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  margin: 1rem 0;
}
